{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "main/css/cart.css" %}>
    <title>Корзина</title>
</head>
<body>
    <div class="cart">
        <div class="header">
          <a href="{% url 'home' %}">
            <img
                alt="ФурниТур"
                class="top-logo"
                src="{% static 'main/img/logo.png' %}"
            />
          </a>
          <div class="top-links">
            <a href="{% url 'aboutus' %}" class="top-btn">О нас</a>
            <a href="{% url 'tours' %}" class="top-btn-two">Туры</a>
            <a href="{% url 'cart' %}" class="top-btn-two">Корзина</a>
          </div>
        </div>
        <p class="title">Корзина</p>
        {% for item in cart_items %}
        <div class="content-tour">
          <img
            alt="{{ item.tour.title }}"
            class="img-tour"
            src="{{ item.tour.image.url }}"
          />
          <div class="flex-wrapper-one">
            <p class="title-tour">{{ item.tour.title }}</p>
            <div class="content-time">
              <img
                alt=""
                class="clock-1"
                src="{% static 'main/img/clock.png' %}"
              />
              <p class="num-60-hurs">{{ item.tour.travel_time }}часов</p>
            </div>
            <div class="content-trevel">
              <img
                alt=""
                class="clock-1"
                src="{% static 'main/img/transport.png' %}"
              />
              <p class="avtobus">{{ item.tour.transport_included }}</p>
            </div>
            <p class="cost">от {{ item.tour.price_from }}₽</p>
          </div>
          <div class="info-btn">
            <p class="oplatit">Оплатить</p>
          </div>
        </div>
        {% empty %}
        <p>Ваша корзина пуста.</p>
        {% endfor %}
        <div class="footer">
          <div class="frame-3">
            <p class="ccylki">Ccылки:</p>
            <p class="o-nas">О нас</p>
            <p class="o-nas">Главная</p>
            <p class="o-nas">Туры</p>
            <p class="o-nas">Корзина</p>
          </div>
          <div class="social-lincs">
            <div class="socials">
              <p class="nashi-socseti">Наши соцсети</p>
              <img
                alt=""
                class="frame-2"
                src="https://static.overlay-tech.com/assets/bce384b2-6326-403c-ada9-7f0ae4e2c5e4.png"
              />
            </div>
            <p class="num-2010-2024-ooo-furni-tur-vse-prava-za">
              © 2010-2024 ООО “Фурни Тур” Все права защищены.
            </p>
          </div>
          <div class="frame-1">
            <p class="svjaz-s-nami">Связь с нами:</p>
            <p class="num-7-998-423-97-88">7(998)423-97-88</p>
            <p class="furnitour-com">furnitour&#64;gmail.com</p>
            <p class="num-7-998-423-97-88">
              г. Москва, Октябрьская ул., д. 16
            </p>
          </div>
        </div>
      </div>
    <script>
        function redirectToPayPage(element) {
            var tourName = element.getAttribute('data-tour-id');
            var encodedtourName = encodeURIComponent(tourName);
            var payUrl = `/pay/${encodedtourName}/`;
            window.location.href = payUrl;
        }        
    </script>
</body>
</html>